:root {
    color-scheme: only light;
    background-color: rgb(222, 193, 100);
  }

body {
    margin-top: 5vh;
    box-sizing: border-box;
    background-color: rgb(222, 193, 100);
    min-height: 100vh;
    margin-top: 0px;
    padding-top: 5vh
}

a{
    text-decoration: none;
    color: gold;
}

a:hover{
    color: rgb(73, 208, 28);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, .bottomCaption{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.caption{
    text-align: center;
}

h2, .caption{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.form-control{
    width: 500px;
    margin: none;
    margin-bottom: 20px;
}

.form-floating{
    padding-bottom: 2vh;
}

#floatingInput{
    font-family: 'Roboto', sans-serif;
    min-height: 70px;
    font-size: 1.25rem;
    font-weight: 500;
}

#floatingTextarea2{
    min-height: 120px;
}

#floatingSelect{
    min-height: 70px;
}

.formButton{
    margin-right: 10px;
    display: inline;
}

.theGrid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.grid1,
.grid2{
    min-width: 40vw;
    align-self: flex-start;
}

.card{
    margin-top: 1vh;
}

.pinnedCard{
    border: 10px solid rgb(14, 190, 99);
    margin-right: 3vw;
}

.allPinned{
    margin-top: 5vh;
}

.unpinBtn{
    margin-right: 1vw;
}

.littleBtn{
    margin-right: 1vw
}

.spacer{
    margin-bottom: 25px;
}


.editInput{
    height: 50px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.editTextArea{
    height: 100px;
}

.editSelection{
    max-width: 500px;
}

.itemBottom{
    display: flex;
}

.bottomCaption{
    margin-left: auto;
}

.footer{
    display: flex;
    position: absolute;
    height: 100px;
    bottom: 0;
    left: 0;
    background-color: rgb(92, 92, 179);
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

@media (max-width: 1300px){
    .grid1{
        min-width: 50vw;
    }

    .grid2{
        margin-left: 5vh;
    }

    .form-control{
        width: 400px;
    }
}

@media (max-width: 765px){
    .theGrid{
        flex-direction: column;
    }

    .form-control{
        width: 400px;
    }

    .grid2{
        margin-left: 0; 
    }
    
    .grid1,
    .grid2{
        align-self: center;
    }
}